body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.header {
  font-size: xx-large;
  padding: 15px;
  font-weight: bold;
  background-color: aliceblue;
  width: 100vw;
  text-align: center;
  margin: 0;
  padding: 5px 0px;
  border-bottom: 1px solid black;
}

.options {
  display: flex;
  justify-content: space-between;
}
.cells-num,
.erase {
  font-weight: bold;
  font-size: 1rem;
  border-radius: 5px;
  width: 80%;
  margin: 15px;
  background-color: aliceblue;
}

.main-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 40%;
  justify-content: space-around;
}

.grid {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 20px;
  aspect-ratio: 1 / 1;
  border: 2px solid black;
}

.footer {
  font-size: large;
  font-weight: bold;
  background-color: aliceblue;
  width: 100vw;
  text-align: center;
  margin: 0;
  padding: 5px 0px;
  border-top: 1px solid black;
}

.footer p {
  margin: 0;
}

#line-div {
  display: flex;
  height: 100%;
}

#cell {
  background-color: white;
  width: 100%;
}
